<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap">
<link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

<div class="container">
  <div class="about-section">
    <h1>About Our Store</h1>
    <p>Welcome to GEN-Z! We are dedicated to bringing you the latest trends in fashion and high-quality
      products that meet your style and comfort needs. With a passion for excellence, we aim to provide a
      seamless shopping experience tailored to your preferences.</p>
    <p>Our journey started with a mission to make stylish, affordable, and reliable products accessible to
      everyone. Over the years, we've built a community of customers who trust us for our commitment to
      quality and service.</p><hr>
    <p style="font-weight: bold;">This website was created by the Developer muhesham - <a href="https://www.linkedin.com/in/muhammed-hesham48/" target="_blank" class="link">Feel Free to Contact With Him
      !</a>
</p>
  </div>
</div>
