<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap">
<link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

<div class="container">
  <div class="contact-section">
    <h1>CONTACTS</h1>
    <ul class="contact-details">
      <li>Email: <a href="mailto:gen-z@store.com">gen-z&#64;store.com</a></li>
      <li>Phone: <a href="tel:+201234567890">+20 123 456 7890</a></li>
      <li>Address: Cairo, Egypt</li>
    </ul>

    <div class="social-links">
      <a href="https://facebook.com" target="_blank" class="facebook-icon">
        <i class="fab fa-facebook-f"></i> Facebook
      </a>
      <a href="https://instagram.com" target="_blank" class="instagram-icon">
        <i class="fab fa-instagram"></i> Instagram
      </a>
      <a href="https://twitter.com" target="_blank" class="twitter-icon">
        <i class="fab fa-twitter"></i> X
      </a>
    </div>

  </div>
</div>
