<footer>
  <div class="footer-content">
    <div class="footer-links">
      <ul>
        <li><a routerLink="about">About Us</a></li>
        <li><a routerLink="contact">Contact Us</a></li>
        <li><a routerLink="help">Help</a></li>
      </ul>
    </div>

    <p>&copy; All rights reserved to GEN-Z STORE 2025</p>

    <div class="contact-section">
      <div class="social-links">
        <a  target="_blank" class="facebook-icon">
          <i class="fab fa-facebook-f"></i> Facebook
        </a>
        <a  target="_blank" class="instagram-icon">
          <i class="fab fa-instagram"></i> Instagram
        </a>
        <a target="_blank" class="twitter-icon">
          <i class="fab fa-twitter"></i> X
        </a>
      </div>
    </div>


  </div>
</footer>
