body {
    font-family: "Rajdhani", system-ui;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.font {
    font-family: "Notable", sans-serif;
    font-size: 300%;
}

a {
    text-decoration: none;
}

.form-container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    background-color: #fffffffb;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 4px solid #fdd835;
    width: 80%;
    height: auto;
    margin: 30px auto;
}

.form-container h1 {
    font-size: 2.5em;
    color: #fdd835;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.form-container h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #444;
}

.form label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
    text-align: left;
    font-size: 1em;
}

.form input,
.form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.form button {
    width: 100%;
    padding: 10px;
    background-color: #fdd835;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form button:hover {
    background-color: #ffb300;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}

.error {
    color: red;
    font-size: 0.9em;
    text-align: left;
    margin-bottom: 10px;
}
