
<section class="banner">
  <div class="banner-text">
    <h1>Welcome to GEN-Z Store Dashboard</h1>
    <p>Discover the latest trends and styles. Shop now and redefine your wardrobe with our unique collections.</p>
    <p>LOOK GOOD! FEEL GOOD! DO GOOD!</p>
    <a class="shop-now-btn">Shop Now</a>
    <a class="link"><button class="add-product-btn" routerLink="products/addproduct">Add Product</button></a> <!--route to form to add product-->
  </div>
</section>
<h1></h1>
<div class="dashboard-container">
  <div class="card">
    <h2>Total Users</h2>
    <p>{{ totalUsers }}</p>
  </div>

  <div class="card">
    <h2>Total Products</h2>
    <p>{{ totalProducts }}</p>
  </div>
</div>
<h2 class="font2 target" id="products">OUR PRODUCTS</h2>
<div class="container target" id="Products">
  <div class="item" *ngFor="let product of products">
    <img [src]="'http://localhost:3000/imgs/' + product.img">
    <div class="info">{{product.name}}</div>
    <div class="price">Price: {{ product.price }}$</div>
    <a ><button>View Details</button></a>
    <a><button (click)="removeproduct(product._id)" class="link">Delete Product</button></a>
  </div>
</div>

